@import "tailwindcss";

*, *::before, *::after {
  box-sizing: border-box;
  cursor: none !important;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #b8966e;
  color: #080807;
}
